# dependencies
/node_modules

# testing
/coverage

# vite / tanstack start
/.output/
/dist/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
bun-debug.log*

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# direnv / nix
.direnv
result

# generated
src/routeTree.gen.ts
